/* Estilos generales */
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #f5f2e5; 
  color: #555;
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff; /* Fondo blanco para las secciones */
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra más ligera */
}

h2, h3 {
  color: #c9447d; /* Rosa más intenso para títulos */
  font-family: 'Montserrat', sans-serif;
}

/* Media queries para pantallas medianas */
@media (max-width: 768px) {
  header {
    padding: 15px;
  }

  nav ul {
    text-align:left;

  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  section {
    padding: 15px;
  }

  .projects-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media queries para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  nav ul li {
    display: block;
    margin-bottom: 8px;
  }

  .projects-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
